<html>
	<body ng-app>
		<div ng-controller="ToDoController">
			<input ng-model="newTitle" type="text">
			<button ng-click="addToDo(newTitle)">Add</button>

			<br><br> We have {{toDoList.length}} tasks. They are:
			<ol class="tast-list" ng-model="toDoList">
				<li class="task-item" ng-repeat="toDo in toDoList">
					<input type="checkbox" ng-model="toDo.isDone" > {{ toDo.title }} : {{ toDo.isDone }} </input>
				</li>
			</ol>
		</div>
		<script src="static/js/lib/angular.min.js"></script>
		<script src="static/js/todo.js"></script>
	</body>
</html>